@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/* Header Start */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
.navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #1a1a1a;
  transition: 3s ease;
}
.navbar li a:hover,
.navbar li a.active{
  color: #088178;
}
#close{
  display: none;
}
.navbar li a.active::after,
.navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#mobile{
  display: none;
}
/* Home page */

#hero {
  background-image: url("img/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#hero h4{
  padding-bottom: 15px;
}
#hero h1{
  color: #088178;
}
#hero button{
  background-image: url("img/button.png");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
} 
#feature .fe-box{
  width: 165px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}

#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color:#fddde4;
}

#feature .fe-box:nth-child(2) h6{
  background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
  background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
  background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
  background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
  background-color: #fff2e5;
}

/* featured product */
#product1 {
  text-align: center;
}
#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
  margin: 15px 0;
  position: relative;
  transition: 0.2s ease;
  padding-bottom: 20px;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 25px rgba(0,0,0,0.06);
}
#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des{
  text-align: left;
  line-height: 1.5;
}
#product1 .pro .des span{
  font-size: 12px;
  color: #606063;
}
#product1 .pro .des h5{
  font-size: 14px;
  color: #1a1a1a;
  padding-top: 4px;

}
#product1 .pro .des h4{
  font-size: 10px;
  padding-top: 7px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .des .fas{
  font-size: 12px;
  color: rgba(243, 181, 25);
}
#product1 .pro .fal{
  color: #088178;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50px;
  background-color: #e8f6ea;
  border: 1px solid #cce7d0;
  position: absolute;
  right: 10px;
  bottom: 20px;
}
.pro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* section */
#action {
  background-image: url('img/banner/b2.jpg');
  height: 40vh;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#action-pro h4{
  font-size: 15px;
  color: #fff;
}
#action-pro h2{
  font-size: 30px;
  color: #fff;
  padding: 10px;
}
#action-pro button{
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  color: #1a1a1a;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}
#action-pro span{
  color: rgb(204, 26, 26);
}
#action-pro button:hover{
  background-color: #088178;
}

/* Banner */
.banner1{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#banner .one{
  background-image: url('img/banner/b17.jpg');
  height: 50vh;
  width: 49%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
  /* margin-right: 10px; */
}

.bann h4{
  font-size: 15px;
  color: #fff;
  font-weight: 400;
}
.bann h3{
  font-size: 20px;
  color: #fff;
  font-weight: 800;
  padding-top: 10px;
}
.bann p{
  color: #fff;
  font-weight: 600;
  font-size: 11px;
}
.bann button{
  padding: 10px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 700;
  border-radius: 4px;
  transition: 0.4s ease;
}
.bann button:hover{
  background-color: #088178;
  border: 2px solid #088178;
  cursor: pointer;
}

.two {
  background-image: url('img/banner/b10.jpg');
  height: 50vh;
  width: 49%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
}
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.three {
  background-image: url('img/banner/b7.jpg');
  height: 30vh;
  min-width: 30%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  
}
.four {
  background-image: url('img/banner/b4.jpg');
  height: 30vh;
  min-width: 30%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  
}
.five{
  background-image: url('img/banner/b18.jpg');
  height: 30vh;
  min-width: 30%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
}
.banner h3{
  font-size: 20px;
  padding-bottom: 10px;
}
.banner h4{
  font-size: 14px;
  font-weight: 800;
  color: #b51919;
}
#footer1{
  background-image: url("img/banner/b14.png");
  background-size: cover;
  background-color: #041e42;
  background-repeat: no-repeat;
  background-position: 20% 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer1 {
  color: #fff;
}
.footer1 p{
  font-size: 13px;
  font-weight: 700;
  color: #bbb0c5;
}
.footer1 p span{
  color: #b2970e;
}
.footer2{
  display: flex;
  width: 40%;
}
.footer2 input{
  height: 3.125rem;
  width: 100%;
  padding: 0 1.25em;
  font-size: 10px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.footer2 button{
  padding: 0 2.5em;
  border: none;
  /* margin-left: -5px; */
  border-radius: 5px;
  white-space: nowrap;
  background-color: #088178;
  color: #fff;
  font-weight: 700;
  font-size: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* footer */
#footer{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}
.col {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px 0;
}
.col a{
  padding: 9px 0;
  text-decoration: none;
  color: #1a1a1a;
  font-size: 11px;
  font-weight: 500;
}
.col:first-child p{
  font-size: 10px;
  font-weight: 500;
  line-height: 1px;
}
.col:first-child h4{
  font-size: 12px;
  padding: 40px 0 15px 0;
}
.follow h4{
  margin-top: -20px;
}

.col h4{
  font-size: 15px;
  padding-bottom: 15px;
}
.install p{
  font-size: 12px;
}
.row img{
  border: 1px solid #088178;
  margin-left: 2px;
  border-radius: 7px;
}
.install h4{
  padding-bottom: 10px;
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright{
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
  width: 100%;
}
.copyright p{
  font-size: 11px;
  font-weight: 600;
}
.fab{
  padding-right: 3px;
}



/* SHOP PAGE */
#hero-one{
  background-image: url("img/banner/b1.jpg");
  height: 40vh;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#hero-one h4{
  color: #fff;
  font-size: 30px;
}
#hero-one p{
  color: #fff;
}
#pagination{
  text-align: center;
  margin-bottom: 30px;
  margin-top: -40px;
}
#pagination a{
  text-decoration: none;
  color: #fff;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 700;
}
#pagination .fal{
  font-weight: 700;
  font-size: 16px;
}

/* SINGLE PRODUCTS */
#prodetails{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#prodetails .single-pro-image{
  width: 40%;
  margin-right: 50px;
  
}
.small-img-group{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}
.single-pro-details{
  width: 60%;
  padding-top: 30px;
}
.single-pro-details h4{
  padding: 40px 0 20px 0;
}
.single-pro-details h2{
  font-size: 26px;
}
.single-pro-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 5px;
}
.single-pro-details input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
.single-pro-details input:focus{
  outline: none;
}
.single-pro-details button,
#form-details form button{
  border: none;
  background-color: #088178;
  color: #fff;
  height: 47px;
  padding: 5px 20px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}
.single-pro-details span{
  line-height: 25px;
}

   /* BLOG */
#hero-two{
  background-image: url('img/banner/b19.jpg');
  height: 40vh;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#hero-two h4{
  color: #fff;
  font-size: 40px;
}
#hero-two p{
  color: #fff;
  text-align: center;
}
#blog{
  padding: 150px 150px 0 150px;
  margin-bottom: 30px;
}
.blog-box{
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  padding-bottom: 90px;
}
.blog-img{
  width: 50%;
  margin-right: 50px;
}
.blog-img img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.blog-details{
  width: 50%;
}
.blog-details a{
  text-decoration: none;
  font-size: 11px;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: 0.3s ease;
}
.blog-details a::after{
  content: '';
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px;
}
.blog-details a:hover{
  color: #088178;
}
.blog-details a:hover::after{
  background-color: #088178;
}
.blog-box h1{
  position: absolute;
  top: -55px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -2;
}

/* ABOUT US */
#hero-three{
  background-image: url('img/about/banner.png');
  height: 40vh;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#hero-three h4{
  color: #fff;
  font-size: 30px;
}
#hero-three p{
  color: #fff;
  font-size: 0.8em;
}
#about-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
#about-head img{
  width: 50%;
}
.head-about{
  width: 50%;
  margin-left: 30px;
}
marquee{
  margin-top: 15px;
  padding: 5px;
  box-shadow: 2px 2px 10px #ccc;
  border-radius: 10px;
}
#about-app h1{
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
}
.about-img video{
  width: 70%;
  border-radius: 20px;
}
.about-img{
  text-align: center;
}

/* CONTACT */
#contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details{
  margin-right: 40px;
  margin-top: 40px;
}
.details li{
  list-style: none;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.details li i{
  padding-right: 10px;
}
.details li p,
#form-details form span{
  font-size: 12px;
  font-weight: 600;
}
.details h2,
#form-details form h2{
  font-size: 25px;
  line-height: 1.3;
  padding: 20px 0;
}
.details h3{
  padding-bottom: 20px;
}
.map{
  width: 55%;
  height: 500px;
}
.map iframe{
  width: 100%;
  height: 100%;
}
#form-details{
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}
#form-details form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 65%;
  margin: 20px;
}
#form-details form input,
#form-details form textarea{
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}
#form-details .people div{
  display: flex;
  padding-bottom: 25px;
  align-items: flex-start;
}  
#form-details .people div img{
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}
#form-details .people div p{
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}
#form-details .people div p span{
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}


























@media(max-width: 1100px) and (min-width: 800px){
  #hero {
    background-image: url("img/hero4.png");
    
    background-size: cover;
    background-position: top 25% right 22%;
  }
  #feature{
    
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
  }
  #feature .fe-box{
    width: 95%;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
  }
  #banner .one{
    width: 100%;
    height: 40vh;
    margin-bottom: 15px;
  }
  .two{
    width: 100%;
    height: 40vh;
  }
  .three{
    width: 25%;
    height: 30vh;
  }
  .four{
    width: 25%;
    height: 30vh;
  }
  .five{
    width: 25%;
    height: 30vh;
  }
  .col{
    margin-right: 10px;
  }
  .col:first-child p{
    font-size: 9px;
  }
  .footer2{
    width: 70%;
  }
  #footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
  #form-details{
    padding: 10px;
  }
  #form-details .people{
    padding-top: 10px;
    margin-top: 80px;
  }
}










/* media query */
@media (max-width: 799px){
  .section-p1{
    padding: 40px 40px;
  }
  .navbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -350px;
    height: 100vh;
    width: 350px;
    background-color: #E3E6F3;
    padding: 80px 0 0 10px;
    box-shadow: 0 40px 60px rgba(0,0,0,0.1);
    transition: 0.5s ease;
  }
  .navbar .far{
    display: none;
  }

  .navbar1{
    right: 0px;
  }
  .navbar li{
    padding: 25px;
  }
.navbar li a.active::after,
.navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: 15px;
  left: 25px;
}
#mobile {
  display: flex;
  align-items: center;
}
#mobile i{
  color: #1a1a1a;
  font-size: 24px;
  padding-left: 20px;
}
#close {
  display: block;
  position: absolute;
  top: 30px;
  right: 45px;
  font-size: 30px;
  color: #222;
}
#hero {
  height: 60vh;
  background-position: top 30% right 30%;
  padding: 0 80px;
}
#feature{
  justify-content: center;
}
#feature .fe-box{
  margin: 15px 15px;
}
#product1 .pro-container{
  justify-content: center;
}
#product1 .pro{
  margin: 15px;
}
#action{
  height: 30vh;
}
#banner .one{
  min-width: 100%;
  height: 30vh;
  margin-bottom: 10px;
} 
.two{
  min-width: 100%;
  height: 30vh;
}
.three{
  width: 28%;
  
}
.four{
  width: 28%;
}
.five{
  width: 28%;
}

/* .banner{
  padding: 0 30px;
} */
.footer2{
  width: 70%;
}
#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
}
#form-details{
  padding: 10px;
}
#form-details .people{
  padding-top: 10px;
  margin-top: 50px;
}

}



@media(max-width: 482px){
  .section-p1{
    padding: 20px;
  }
  #header{
    padding: 10px 30px;
  }
  h1{
    font-size: 38px;
  }
  h2{
    font-size: 25px;
  }
  #hero p{
    font-size: 14px;
    font-weight: 700;
  }
  #hero{
    padding: 0 20px;
    background-position: 55%;
  }
  #feature .fe-box{
    width: 155px;
    margin: 0 0 15px 0;
  }
  #feature{
    justify-content: space-around;
  }
  #product1 .pro{
    width: 100%;
  }
  #action {
    height: 40vh;
  }
  #banner .one{
    height: 40vh;
    margin-bottom: 20px;
  } 
  .two{
    height: 40vh;
  } 
  .three{
    width: 100%;
    margin-bottom: 20px;
  }
  .four{
    width: 100%;
    margin-bottom: 20px;
  }
  .five{
    width: 100%;
    margin-bottom: 20px;
  }

  .footer2{
    width: 100%;
    padding-bottom: 10px;
  }
  .footer1{
    padding-top: 10px;
    line-height: 1.5;
  }
  .row{
    flex-direction: column;
  }
  .row img{
    margin-bottom: 10px;
  }
  #prodetails {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}
#prodetails .single-pro-image{
  width: 100%;
  margin-right: 0;
  
}
.single-pro-details{
  width: 100%;
  padding-top: 30px;
}
.blog-box{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 90px;
}
.blog-img{
  width: 100%;
  margin-right: 0;
  margin-bottom: 10px;
}
.blog-details{
  width: 100%;
}

#blog{
  padding: 120px 20px 0 20px;
  margin-bottom: 30px;
}
#about-head{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
#about-head img{
  width: 100%;
}
.head-about{
  width: 100%;
  margin-left: 0;
  margin-top: 25px;
}
.head-about h2{
  margin-bottom: -15px;
}
#about-app h1{
  font-size: 20px;
  margin-bottom: 0;
}
.about-img video{
  width: 90%;
}
#form-details{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 30px;
  padding: 10px;
  border: 1px solid #e1e1e1;
}
#form-details form{
  width: 85%;
}

#contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.map{
  width: 95%;
  margin-top: 20px;
  height: 500px;
}
}

@media(max-width: 380px){
  #action-pro h2{
    font-size: 22px;
    line-height: 1.3;
  }
}